## Import Packages

In [19]:
import piecash as pc
from piecash import Transaction, ledger, Split
from piecash.core.factories import single_transaction

In [20]:
# !pip install --upgrade pandas

## Check if Book Works

In [21]:
with pc.open_book("sqlite:///sqlversion.gnucash") as book:
    root = book.root_account              # select the root_account
    # print(book.transactions)
    expense = root.children(type="EXPENSE")   # select child account by name

In [22]:
from pandas import read_sql_query, read_sql_table
import pandas as pd
import sqlite3
def read_tables(dbfile):
    
    

    with sqlite3.connect(dbfile) as dbcon:
        tables = list(read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", dbcon)['name'])
    
        # out = {tbl : read_sql_query(f"SELECT * from {tbl}", dbcon) for tbl in tables}
    
    return tables
DB = 'sqlversion.gnucash'
read_tables(DB)

['gnclock',
 'versions',
 'books',
 'commodities',
 'accounts',
 'budgets',
 'budget_amounts',
 'sqlite_sequence',
 'prices',
 'transactions',
 'splits',
 'slots',
 'recurrences',
 'schedxactions',
 'lots',
 'billterms',
 'customers',
 'employees',
 'entries',
 'invoices',
 'jobs',
 'orders',
 'taxtables',
 'taxtable_entries',
 'vendors']

In [23]:
def read_table(table):
    with sqlite3.connect(DB) as dbcon:
        df = pd.read_sql(f"select * from {table}", con=dbcon)
    return df

read_table('transactions')

,guid,currency_guid,num,post_date,enter_date,description
0,63222ad21c57431ea03e6d1ed9c4144e,b7f57e3e7a5e474cac6ee899af7858b3,,2022-10-12 10:59:00,2022-10-11 13:13:09,September 2022 Salary
1,959183da8ee64f1b8808ddde1bd839d2,b7f57e3e7a5e474cac6ee899af7858b3,,2022-11-09 10:59:00,2022-11-09 11:49:30,October 2022 Salary
2,c541fb04449f43aba118e30f9d9f6170,b7f57e3e7a5e474cac6ee899af7858b3,,2022-12-11 10:59:00,2022-12-12 09:51:55,November 2022 Salary
3,56fecca4d1814f64b5e630adeea12cf8,b7f57e3e7a5e474cac6ee899af7858b3,,2023-01-11 10:59:00,2023-01-11 09:17:16,December 2022 Salary
4,af96c4ef3b3d47d1a1ae41f6fd401d00,b7f57e3e7a5e474cac6ee899af7858b3,6,2022-10-12 10:59:00,2022-10-13 12:05:58,Healty Calorie
...,...,...,...,...,...,...
556,06f2b08b5cff4aeeaf4fe0b2dc3bc4e1,b7f57e3e7a5e474cac6ee899af7858b3,,2023-01-11 10:59:00,2023-01-14 21:20:24,Fawri Transfer
557,6770e1600b3444898b369dd165a8041d,b7f57e3e7a5e474cac6ee899af7858b3,,2023-01-12 10:59:00,2023-01-14 21:21:40,Fawri Transfer
558,f3af146329ea4acc8bed112d2a230e3b,b7f57e3e7a5e474cac6ee899af7858b3,,2022-10-18 10:59:00,2022-10-20 12:59:56,Ila Topup
559,71b93545e5df4d6d8409d8199f22ac55,b7f57e3e7a5e474cac6ee899af7858b3,,2022-10-22 10:59:00,2022-10-22 14:16:34,Mastercard Payment via BFC
560,7c6ef7191888442393f5d5e316581ca3,b7f57e3e7a5e474cac6ee899af7858b3,,2022-10-12 10:59:00,2022-10-11 22:01:16,Allowance Transfer

In [24]:
accs_df = read_table('accounts')
accs_df

,guid,name,account_type,commodity_guid,commodity_scu,non_std_scu,parent_guid,code,description,hidden,placeholder
0,3d5b07b4ca0f41ada1023454d867d296,Root Account,ROOT,None,0,0,None,,,0,0
1,15273a8f18a94521b420b2f1d2cd7dc0,Income,INCOME,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,3d5b07b4ca0f41ada1023454d867d296,,,0,1
2,fa7489a181f84b6e8b65a613b9d48113,Salary,INCOME,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,15273a8f18a94521b420b2f1d2cd7dc0,,,0,0
3,a6672e74571b42cfadf3c7bf8c829166,Transaction Round-down,INCOME,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,15273a8f18a94521b420b2f1d2cd7dc0,,Roundup by Citibank,0,0
4,f482df68e4094418b40e4d94fc67668d,Investments Income,INCOME,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,15273a8f18a94521b420b2f1d2cd7dc0,,,0,0
...,...,...,...,...,...,...,...,...,...,...,...
122,d2501cd2d4fc4c4ea8346f98a785e3f1,Work Credimax Card,ASSET,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,c3778d06a61b4eebaa93db8c89fdda9f,,,0,0
123,8d1a9427e39f43fab1540eb4c67dcdc1,Retirement,ASSET,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,c3778d06a61b4eebaa93db8c89fdda9f,,,0,0
124,d73c2f2b12cf4ee48c770438db355ea2,Usable-Phone-Balance,ASSET,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,c3778d06a61b4eebaa93db8c89fdda9f,,,0,0
125,9467cd7462384e71bf3d6def7a37374a,Template Root,ROOT,89e07b3a965a4ccea1054537ea5fdb15,1,0,None,,,0,0
126,4019cbc416f7468695a36419a7e0e30f,0dfc25d3ae0d424aae87eee4c301e8fc,BANK,89e07b3a965a4ccea1054537ea5fdb15,1,0,9467cd7462384e71bf3d6def7a37374a,,,0,0

In [25]:
ROOT_ACCOUNT = accs_df.iloc[0].guid
EXPENSE_ROOT = '59944a124c714e678bb3c602e1ce2ec3'

In [26]:
ROOT_ACCOUNT

'3d5b07b4ca0f41ada1023454d867d296'

In [8]:
accs_df[accs_df['account_type'] == 'EXPENSE']

,guid,name,account_type,commodity_guid,commodity_scu,non_std_scu,parent_guid,code,description,hidden,placeholder
29,59944a124c714e678bb3c602e1ce2ec3,Expenses,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,3d5b07b4ca0f41ada1023454d867d296,,,0,1
30,85eaa631ba9c45cba2b7219edc7f225f,Wants,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,59944a124c714e678bb3c602e1ce2ec3,,,0,1
31,6c3c0d4cb76a4d01a18455c6be22170c,Fast Food,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,85eaa631ba9c45cba2b7219edc7f225f,,,0,0
32,247477979b0443f7a8a4c4a6b883b390,Subscription - Google One,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,85eaa631ba9c45cba2b7219edc7f225f,,,0,0
33,4450935f4c9d4240851d9bb03a16a6f9,Sweets,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,85eaa631ba9c45cba2b7219edc7f225f,,,0,0
...,...,...,...,...,...,...,...,...,...,...,...
86,16254699b3ae4e2bb141aacb75f26613,Accommodation,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,36347bf72ebb47a8a6d45e5882af3065,,,0,0
87,a5008d3ae9e646fe94fa5d8225cfd0cb,Food,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,36347bf72ebb47a8a6d45e5882af3065,,,0,0
88,7b95d9586e6f47d2a1fc660f2c681530,Other,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,36347bf72ebb47a8a6d45e5882af3065,,,0,0
89,7bcbc0f0751f4cecb9cadb623105d498,Unknown,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,59944a124c714e678bb3c602e1ce2ec3,,,0,0
90,cb61fa8a574442468f542708c6ed67d5,Lost-Damaged,EXPENSE,b7f57e3e7a5e474cac6ee899af7858b3,1000,0,59944a124c714e678bb3c602e1ce2ec3,,,0,0

In [9]:
from functools import partial
from pprint import pprint

def find_sub_accounts(row, root_acc):
    if row['parent_guid'] == root_acc['id'] and row['account_type'] == 'EXPENSE':
        root_acc['accs'].append({'name': row['name'], 'id': row['guid'], 'accs': []})

EXPENSE_ACCS = {'name': 'Expenses', 'id':'59944a124c714e678bb3c602e1ce2ec3', 'accs': []}


def find_sub_accounts(acc):
    for index, row in accs_df.iterrows():
        if row['parent_guid'] == acc['id'] and row['account_type'] == 'EXPENSE':
            sub_account = {'name': row['name'], 'id': row['guid'], 'accs': []}
            find_sub_accounts(sub_account)
            acc['accs'].append(sub_account)
                


        
        
    # accs_df.apply(partial(find_sub_accounts, root_acc=acc) , axis=1)
find_sub_accounts(EXPENSE_ACCS)
print(EXPENSE_ACCS)

{'name': 'Expenses', 'id': '59944a124c714e678bb3c602e1ce2ec3', 'accs': [{'name': 'Wants', 'id': '85eaa631ba9c45cba2b7219edc7f225f', 'accs': [{'name': 'Fast Food', 'id': '6c3c0d4cb76a4d01a18455c6be22170c', 'accs': []}, {'name': 'Subscription - Google One', 'id': '247477979b0443f7a8a4c4a6b883b390', 'accs': []}, {'name': 'Sweets', 'id': '4450935f4c9d4240851d9bb03a16a6f9', 'accs': []}, {'name': 'Drinks&Smokes', 'id': 'bf4fd7bb2714402fa9ff3363782a9dda', 'accs': []}, {'name': 'Books', 'id': '6af3fdc2015f4dbdaf2cf23affc0669c', 'accs': []}, {'name': 'Useless', 'id': '0cd415af17ca41fb9e8145906a0641be', 'accs': []}, {'name': 'Donations', 'id': 'c97d20c12f65465ebda3aeb509f2e1e3', 'accs': []}, {'name': 'Gifts', 'id': '2ab374ad987249a9b1835b483f6c4fd7', 'accs': []}, {'name': 'Accessories', 'id': 'd109cdb1d51c4aa0860f16d18110275d', 'accs': []}, {'name': 'Entertainment', 'id': 'd6603f05b02146fbb83933c7b09297bc', 'accs': []}, {'name': 'Electronics', 'id': '60e1d596219f4bad8a2436f72893cc3e', 'accs': []}]}, {'name': 'Needs', 'id': '43fe97258fc44115b567227ee333babb', 'accs': [{'name': 'Car Expenses', 'id': 'b77a83c1a04b49a6b877f2f2219a7f83', 'accs': [{'name': 'Petrol', 'id': '9c3b0f06dd0040a184b0cafb466fdd5a', 'accs': []}, {'name': 'Wash', 'id': 'f2728e4b38e24ca68a702ff5ac27f196', 'accs': []}, {'name': 'Rent', 'id': '5a057c0493324fce95b9970cdf32c5f6', 'accs': []}, {'name': 'Repairs', 'id': 'a9461ca182f149e39027222cbabe9515', 'accs': []}, {'name': 'Parking', 'id': '454155f75ea14951b5220ba7456221b0', 'accs': []}]}, {'name': 'MOJ Allowance', 'id': '4c76266098dc4ac5b013dca79e8d9b10', 'accs': []}, {'name': 'Groceries', 'id': '55b64b97b5f1455cb06e47a2c1d3533c', 'accs': []}, {'name': 'Phone', 'id': '6f3ff892c25644c88fabd41a34865532', 'accs': []}, {'name': 'Gym', 'id': '48ea31bb071b407e9f56c90a41f41f24', 'accs': []}, {'name': 'Medical', 'id': 'f43d2ed73ed148aa9fb4123d6d645397', 'accs': []}, {'name': 'Grooming', 'id': '9474a657095a46beab959376b31c23e4', 'accs': []}, {'name': 'VAT', 'id': '2077467f4e7f404eb1039c343e37b9c3', 'accs': []}, {'name': 'Water', 'id': '3a91c920d9124c4f91a0f9a69e233447', 'accs': []}, {'name': 'Clothes-And-Tailoring', 'id': 'b362de838cf54cd4bc808dfbcd1e0da2', 'accs': []}, {'name': 'Food-Accessories', 'id': '1369bba5598f4e9ab41c7cf991ab0d97', 'accs': []}, {'name': 'Self-Care', 'id': '38b2bdb8cc2f4c34a929c34f80dc1bf3', 'accs': []}, {'name': 'Home-Accessories', 'id': '926505a506444a65a7a9c312b28a18d8', 'accs': []}, {'name': 'Laundry', 'id': 'ef8c605f13574bd39e317988124c2d9f', 'accs': []}, {'name': 'BankCharges', 'id': '2f51753e6eae47089d19c886d1395c26', 'accs': []}, {'name': 'Pets', 'id': 'd1e4d32507ea48b6b41efe1c357f2852', 'accs': []}, {'name': 'House-Rent', 'id': '8fed078a58a9456d8dfc5d21a2f7869f', 'accs': []}]}, {'name': 'Keep the Change', 'id': 'b05d6bf21ad844eba23c1e0f085fd137', 'accs': []}, {'name': 'Gulbarga Trip 2022', 'id': 'b464ae0aafbc428a853c9dfc68db2b45', 'accs': [{'name': 'INR', 'id': '01d3d11e13254443b2d7b21bb72b4ea6', 'accs': [{'name': 'Travel', 'id': '99bdd0660d5143da90aba62c3cddb727', 'accs': []}, {'name': 'Accommodation', 'id': '432e2f64dfd544ab8a18d3cdd8da2257', 'accs': []}, {'name': 'Food', 'id': '65774ade614b4720a5b522caed660013', 'accs': []}, {'name': 'Shopping', 'id': 'fbbbd7fe7ed940b698299ff22b4a4ee9', 'accs': []}, {'name': 'Mobile', 'id': '6a855d4d484b49709f05e63c1f2743d6', 'accs': []}, {'name': 'Other', 'id': '832710a4ca564f5cae9852ec36a5277c', 'accs': []}, {'name': 'Self-Care', 'id': '14816166a50749dea0f5743ef10c18f3', 'accs': []}, {'name': 'Alcohol', 'id': '3b9dfcc4a022423dab1a026bc0d7d4de', 'accs': []}, {'name': 'Cigs', 'id': '12fc4c1dd83c4fe891a2108d74eb0576', 'accs': []}, {'name': 'Clothing', 'id': 'dc0349e94ea343d091826da6241d1f40', 'accs': []}, {'name': 'Sports', 'id': '59abd778fb0246708eaef7a568012191', 'accs': []}, {'name': 'RoundOffChange', 'id': '0e0f3ce330b547deb3193c4298187b32', 'accs': []}, {'name': 'Medical', 'id': '859d427205dc48938406b6653e069b0c', 'accs': []}, {'name': 'Charity', 'id': 'df8857f8d26f4e3e95bcdd48f1924147', 'accs': []}, {'name': 'Entertainment', 'id': '5d3fad8acefb476d870e3b9c8d1632bb', 'accs': []}]}, {'name': 'BHD', 'id': '36347bf72ebb47a8a6d45e5882af3065', 'accs': [{'name': 'Travel', 'id': 'dbbe158f171e4280b0c90c284d87ede6', 'accs': []}, {'name': 'Bank Charges', 'id': 'b0cd570ddac14aa0897cef4e873d9af4', 'accs': []}, {'name': 'Accommodation', 'id': '16254699b3ae4e2bb141aacb75f26613', 'accs': []}, {'name': 'Food', 'id': 'a5008d3ae9e646fe94fa5d8225cfd0cb', 'accs': []}, {'name': 'Other', 'id': '7b95d9586e6f47d2a1fc660f2c681530', 'accs': []}]}]}, {'name': 'Unknown', 'id': '7bcbc0f0751f4cecb9cadb623105d498', 'accs': []}, {'name': 'Lost-Damaged', 'id': 'cb61fa8a574442468f542708c6ed67d5', 'accs': []}]}

In [18]:
def list_full_names(acc, *, text='', collection):
    if isinstance(acc, dict): 
        text+=acc['name']
        if not acc.get('accs'):
            return collection.append((text, acc['id']))
        list_full_names(acc['accs'], text=text+':', collection=collection)
    if isinstance(acc, list):
        for sub_acc in acc:
            list_full_names(sub_acc, text=text, collection=collection)
    

collection = []
list_full_names(EXPENSE_ACCS, collection=collection)
print(collection)

[('Expenses:Wants:Fast Food', '6c3c0d4cb76a4d01a18455c6be22170c'), ('Expenses:Wants:Subscription - Google One', '247477979b0443f7a8a4c4a6b883b390'), ('Expenses:Wants:Sweets', '4450935f4c9d4240851d9bb03a16a6f9'), ('Expenses:Wants:Drinks&Smokes', 'bf4fd7bb2714402fa9ff3363782a9dda'), ('Expenses:Wants:Books', '6af3fdc2015f4dbdaf2cf23affc0669c'), ('Expenses:Wants:Useless', '0cd415af17ca41fb9e8145906a0641be'), ('Expenses:Wants:Donations', 'c97d20c12f65465ebda3aeb509f2e1e3'), ('Expenses:Wants:Gifts', '2ab374ad987249a9b1835b483f6c4fd7'), ('Expenses:Wants:Accessories', 'd109cdb1d51c4aa0860f16d18110275d'), ('Expenses:Wants:Entertainment', 'd6603f05b02146fbb83933c7b09297bc'), ('Expenses:Wants:Electronics', '60e1d596219f4bad8a2436f72893cc3e'), ('Expenses:Needs:Car Expenses:Petrol', '9c3b0f06dd0040a184b0cafb466fdd5a'), ('Expenses:Needs:Car Expenses:Wash', 'f2728e4b38e24ca68a702ff5ac27f196'), ('Expenses:Needs:Car Expenses:Rent', '5a057c0493324fce95b9970cdf32c5f6'), ('Expenses:Needs:Car Expenses:Repairs', 'a9461ca182f149e39027222cbabe9515'), ('Expenses:Needs:Car Expenses:Parking', '454155f75ea14951b5220ba7456221b0'), ('Expenses:Needs:MOJ Allowance', '4c76266098dc4ac5b013dca79e8d9b10'), ('Expenses:Needs:Groceries', '55b64b97b5f1455cb06e47a2c1d3533c'), ('Expenses:Needs:Phone', '6f3ff892c25644c88fabd41a34865532'), ('Expenses:Needs:Gym', '48ea31bb071b407e9f56c90a41f41f24'), ('Expenses:Needs:Medical', 'f43d2ed73ed148aa9fb4123d6d645397'), ('Expenses:Needs:Grooming', '9474a657095a46beab959376b31c23e4'), ('Expenses:Needs:VAT', '2077467f4e7f404eb1039c343e37b9c3'), ('Expenses:Needs:Water', '3a91c920d9124c4f91a0f9a69e233447'), ('Expenses:Needs:Clothes-And-Tailoring', 'b362de838cf54cd4bc808dfbcd1e0da2'), ('Expenses:Needs:Food-Accessories', '1369bba5598f4e9ab41c7cf991ab0d97'), ('Expenses:Needs:Self-Care', '38b2bdb8cc2f4c34a929c34f80dc1bf3'), ('Expenses:Needs:Home-Accessories', '926505a506444a65a7a9c312b28a18d8'), ('Expenses:Needs:Laundry', 'ef8c605f13574bd39e317988124c2d9f'), ('Expenses:Needs:BankCharges', '2f51753e6eae47089d19c886d1395c26'), ('Expenses:Needs:Pets', 'd1e4d32507ea48b6b41efe1c357f2852'), ('Expenses:Needs:House-Rent', '8fed078a58a9456d8dfc5d21a2f7869f'), ('Expenses:Keep the Change', 'b05d6bf21ad844eba23c1e0f085fd137'), ('Expenses:Gulbarga Trip 2022:INR:Travel', '99bdd0660d5143da90aba62c3cddb727'), ('Expenses:Gulbarga Trip 2022:INR:Accommodation', '432e2f64dfd544ab8a18d3cdd8da2257'), ('Expenses:Gulbarga Trip 2022:INR:Food', '65774ade614b4720a5b522caed660013'), ('Expenses:Gulbarga Trip 2022:INR:Shopping', 'fbbbd7fe7ed940b698299ff22b4a4ee9'), ('Expenses:Gulbarga Trip 2022:INR:Mobile', '6a855d4d484b49709f05e63c1f2743d6'), ('Expenses:Gulbarga Trip 2022:INR:Other', '832710a4ca564f5cae9852ec36a5277c'), ('Expenses:Gulbarga Trip 2022:INR:Self-Care', '14816166a50749dea0f5743ef10c18f3'), ('Expenses:Gulbarga Trip 2022:INR:Alcohol', '3b9dfcc4a022423dab1a026bc0d7d4de'), ('Expenses:Gulbarga Trip 2022:INR:Cigs', '12fc4c1dd83c4fe891a2108d74eb0576'), ('Expenses:Gulbarga Trip 2022:INR:Clothing', 'dc0349e94ea343d091826da6241d1f40'), ('Expenses:Gulbarga Trip 2022:INR:Sports', '59abd778fb0246708eaef7a568012191'), ('Expenses:Gulbarga Trip 2022:INR:RoundOffChange', '0e0f3ce330b547deb3193c4298187b32'), ('Expenses:Gulbarga Trip 2022:INR:Medical', '859d427205dc48938406b6653e069b0c'), ('Expenses:Gulbarga Trip 2022:INR:Charity', 'df8857f8d26f4e3e95bcdd48f1924147'), ('Expenses:Gulbarga Trip 2022:INR:Entertainment', '5d3fad8acefb476d870e3b9c8d1632bb'), ('Expenses:Gulbarga Trip 2022:BHD:Travel', 'dbbe158f171e4280b0c90c284d87ede6'), ('Expenses:Gulbarga Trip 2022:BHD:Bank Charges', 'b0cd570ddac14aa0897cef4e873d9af4'), ('Expenses:Gulbarga Trip 2022:BHD:Accommodation', '16254699b3ae4e2bb141aacb75f26613'), ('Expenses:Gulbarga Trip 2022:BHD:Food', 'a5008d3ae9e646fe94fa5d8225cfd0cb'), ('Expenses:Gulbarga Trip 2022:BHD:Other', '7b95d9586e6f47d2a1fc660f2c681530'), ('Expenses:Unknown', '7bcbc0f0751f4cecb9cadb623105d498'), ('Expenses:Lost-Damaged', 'cb61fa8a574442468f542708c6ed67d5')]

In [44]:
for x in accs_df.iterrows():
    print(x[1]['name'])
    break

Root Account

In [60]:
print(''+'Hello')

Hello

In [29]:
expense_accs = accs_df[accs_df.account_type == 'EXPENSE']
EXPENSE_ROOT = expense_accs[expense_accs.parent_guid == ROOT_ACCOUNT].iloc[0].guid

# EXPENSE_ROOT = accs.

'59944a124c714e678bb3c602e1ce2ec3'

In [15]:
read_table('splits')

,guid,tx_guid,account_guid,memo,action,reconcile_state,reconcile_date,value_num,value_denom,quantity_num,quantity_denom,lot_guid
0,a68b8592574a40a9ba5c18a60496d6c6,63222ad21c57431ea03e6d1ed9c4144e,eb4535e2fe9e4dbab357a7e32c528bd2,,,y,2022-10-12 20:59:59,558000,1000,558000,1000,None
1,9610f9af75934c42bde4cd852f05778f,63222ad21c57431ea03e6d1ed9c4144e,fa7489a181f84b6e8b65a613b9d48113,,,y,2022-10-12 20:59:59,-558000,1000,-558000,1000,None
2,a46f1e5e3f6c406b80f2a434bff41f02,959183da8ee64f1b8808ddde1bd839d2,eb4535e2fe9e4dbab357a7e32c528bd2,Net Salary,,y,2022-11-11 20:59:59,558000,1000,558000,1000,None
3,b670e3e1fd784ac3a09f8a00ec4b96ca,959183da8ee64f1b8808ddde1bd839d2,8d1a9427e39f43fab1540eb4c67dcdc1,GOSI Deduction towards Retirement,,n,1970-01-01 00:00:00,42000,1000,42000,1000,None
4,f8a5c40c8d9e480e8ca1b8da0c0959e0,959183da8ee64f1b8808ddde1bd839d2,fa7489a181f84b6e8b65a613b9d48113,Total Salary,,n,1970-01-01 00:00:00,-600000,1000,-600000,1000,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1182,40b7960845b64509a1eb4e87a910575f,f3af146329ea4acc8bed112d2a230e3b,28ac287917e345bc9e9abe949022be0e,,,y,2022-10-20 20:59:59,-50000,1000,-50000,1000,None
1183,03ea05a383374838937654faf606714a,71b93545e5df4d6d8409d8199f22ac55,e4b002eb446d42d5b9d16bef97fc501b,,,c,1970-01-01 00:00:00,190000,1000,190000,1000,None
1184,3fc2f43e1abc4301be177a69d6e9e73f,71b93545e5df4d6d8409d8199f22ac55,94afcc5335d1489db158ae65c1ef34f1,,,y,2022-10-22 20:59:59,-190000,1000,-190000,1000,None
1185,a1a7c6b57bc04a9db49911536843d234,7c6ef7191888442393f5d5e316581ca3,4019cbc416f7468695a36419a7e0e30f,,,c,1970-01-01 00:00:00,0,1000,0,1,None
1186,16b7374f3be94e49a702d426c27611dc,7c6ef7191888442393f5d5e316581ca3,4019cbc416f7468695a36419a7e0e30f,,,c,1970-01-01 00:00:00,0,1000,0,1,None